body {
	font-family: Lato;
	background-color: #fff18a;
	margin-left: 2em;
	margin-right: 2em;
}

section {
	max-width: 30em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content-text {
	background-color: #e29d9d;
	padding: 10PX;
}

h1 {
}

#title {
	color: blue;
	text-align: center;
	margin: 0px;
	font-family: 'Calligraffitti', 'Crafty Girls', cursive, 'Arial';
	font-size: 4em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	height: auto;
}
