<!-- TODO: make mobile friendly version of this -->
<div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li>
          <li class="active"><%= link_to "Home", welcome_home_path %></li>
        </li>          
        <li>
          <%= link_to "About", welcome_about_path %>
        </li>
        <li>
          <%= link_to "Contact", welcome_contact_path %>
        </li>
      </ul>
  </nav>
</div>