<section>
	<h2>What is dance/movement therapy?</h2>
	<p>The American Dance Therapy Association (ADTA) defines dance/movement therapy as the psychotherapeutic use of movement to promote emotional, social, cognitive and physical integration of the individual.</p>
</section>
