<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Courtney Follweiler is a New York-based Licensed dance/movement therapist, psychotherapist, and addiction counselor.">
		<title>Courtney Follweiler</title>
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>	
			<h1 id="title">Courtney Follweiler</h1>
		</header>
		<%= render "shared/navbar" %>
		<section>
			<p><img src="https://s3.us-east-2.amazonaws.com/media.courtneyfollweiler.com/images/CourtneyFollweiler_LG.jpg" alt="The lovely, smart and talented Courtney Follweiler"></p>
			<p>Courtney Follweiler is a New York-based Licensed dance/movement therapist, psychotherapist, and addiction counselor.</p>
			<h2>Credentials</h2>
			<ul>
				<li>M.S. Creative Arts Therapy (2003 – 2006)</li>
				<li>LCAT (2008)</li>
				<li>CASAC - Credentialed Alcohol & Substance Abuse Counselor (2013)</li>
				<li>BC-DMT - Board Certified Dance Movement Therapist (2011)</li>
				<li>MPH - Public Health Policy and Management (2017)</li>
			</ul>
			<h2>What is dance/movement therapy?</h2>
			<p>The American Dance Therapy Association (ADTA) defines dance/movement therapy as the psychotherapeutic use of movement to promote emotional, social, cognitive and physical integration of the individual.</p>
		</section>
	</body>
</html>